/* HERO STYLES */

#hero {
  padding: 0;
}

.hero__video-wrapper {
  width: 100%;
  max-height: calc(100vh - 60px);
  border-top: 1px solid var(--accent-primary);
  border-bottom: 1px solid var(--accent-primary);
  pointer-events: none;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero__video {
  aspect-ratio: 16 / 9;
}

mux-player {
  --controls: none;
}
