/* NAV STYLES */

nav {
  width: 100%;
  height: 60px;
  padding: 24px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(20px);
  background-color: rgba(26, 26, 26, 0.5);
  transition: all 300ms ease-in-out;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo--wrapper {
  display: flex;
  align-items: center;
}

.logo__text {
  color: var(--text-primary);
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 7px;
  cursor: default;
  user-select: none;
  transition: letter-spacing 300ms ease;
}

.logo__text:hover {
  letter-spacing: 10px;
  transition: letter-spacing 600ms ease;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  color: var(--text-primary);
  font-size: 18px;
  letter-spacing: 2px;
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 300ms ease;
}

.insta {
  font-size: 36px;
  transition: color 300ms ease;
}

.nav__link:hover {
  color: var(--accent-primary);
}
